// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//style
@import './partials/_carousel';
@import './partials/_header';
@import './partials/_detailscomic';



