.details_comic {
    img {
        margin: 50px;
        height: 350px;
    }
    h4 {
        color: #163F5E;
        font-size: 40px;
        font-weight: 600;
        padding: 10px 0 25px;
    }
    .table_green {
        background-color: #55BA59;
        font-size: 18px;
        th {
            color: white;
            padding: 25px;
        }
    }
    p {
        line-height: 28px;
        font-size: 18px;
        color: #555555;
        padding: 12px 0;
        margin-bottom: 70px;
    }
}

.more_details {
    height: 350px;
    text-align: center;
    background-color: #F6F6F6;
    padding: 30px;
    .container {
        display: flex;
    }
    .talent {
        text-align: left;
        width: 50%;
        padding: 20px;
        h5 {
            color: #163F5E;
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
        }
    }
    .specs {
        text-align: left;
        width: 50%;
        padding: 20px;
        h5 {
            color: #163F5E;
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
        }
    }
    table {
        margin: 5px;
        td {
            height: 50px;
        }
    }
    .col-tit {
        color: #163F5E;
        font-weight: 600;
        font-size: 16px;
    }
}